span.normal {font-weight: normal; }
span.large {font-size: 200%; }
span.big {font-size: 150%;}
span.small {font-size: 80%;}
div.small {
	text-align: center;
	align-items: center;
	font-size: 80%;}
table.normal {
	border-collapse: collapse;
}
td {
  text-align: center;
	border: solid 1px;
	padding: 0.5em;
}
tds {
	align: center;
	text-align: center;
	border: solid 1px;
	padding: 0.5em;
	font-size: 70%;
}

p{
  text-indent: 2em;
}

div.main {
  overflow: visible !important;
  background: -webkit-linear-gradient(45deg, #00FFFF 10%, #3ADF00 90%);
  background: -moz-linear-gradient(45deg, #00FFFF 10%, #3ADF00 90%);
  background: -ms-linear-gradient(45deg, #00FFFF 10%, #3ADF00 90%);
  background: -o-linear-gradient(45deg, #00FFFF 10%, #3ADF00 90%);
  background: linear-gradient(45deg, #00FFFF 10%, #3ADF00 90%);
 }

div.margin{
	margin-left: 80px;
	font-size: 150%;
}

div.blocka {
   float: left;
   width: 30%;
}
div.blockb {
   float: left;
   width: 30%;
}

div.center{
	text-align: center;
}

button.button3 {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 30px;
    background-color: #248;
    color: #fff;
    border-style: none;
}

span.h1 {
	border-bottom: solid 3px brown;
}




span.sample3 {font-weight: lighter;}
span.sample4 {font-weight: bolder; font-size: 150%;}
span.sample5 {font-weight: bolder; }
span.sample200 {font-weight: 200; }
span.sample300 {font-weight: 300; }
span.sample400 {font-weight: 400; }
span.sample500 {font-weight: 500; }
span.sample600 {font-weight: 600; }
span.sample700 {font-weight: 700; }
span.sample800 {font-weight: 800; }
span.sample900 {font-weight: 900; }
